<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles-min.css">
    <title>{{title}}</title>
</head>
<body>
    <div id="center-div">
        {{>header}}
        {{>footer}}
        <h3 class="page-text"><b>This page was made as a student project:</b> <br><br>It uses <b>Express</b> as its server. <br>And gets its data from the <b>Weatherstack</b> API.</h3>
        {{>footah}}
    </div>
</body>
</html>