@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
}

html {
    height: 100%;
}

#img1 {
    width: 64px;
    position: absolute;
    left: 0;
    top: 49px;
}


#img2 {
    width: 48px;
    position: absolute;
    right: 0;
    top: 59px;
}


body {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

form {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

form > input {
    height: 25px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto', sans-serif;
    width: 180px;
}

form > button {
    height: 29px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid royalblue;
    background-color: white;
    border-left: none;
    color: royalblue;
    cursor: pointer;
    transition: all 0.1s;
}

form > button:hover {
    background-color: royalblue;
    color: white;
}

form > button:active {
    background-color: #273eb0;
    color: white;
}


a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    color: black;
}

a:hover {
    color: #525252;
}


.search-input {
    height: 30px;
	width: 134px;
	padding: 0px 15px 0 36px;
	border: 2px solid #4169E1;
	background-color: white;
	color: black;
	outline: none !important;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	transition: width 0.7s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    
}


.search-input:focus {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.10);
    width: 200px;
}


.search-button {
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-input:focus + #loupe {
    left: 251px;
}

#loupe {
    position: absolute;
    left: 286px;
    transition: 0.7s;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h2 {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}


#form-container {
    margin-top: 25px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 800px;
    text-decoration: none;
    padding: 10px 0 10px 0;
}


#center-div {
    position: relative;
    text-align: center;
    width: 800px;
    text-overflow: wrap;
}


#title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: royalblue;
    padding-top: 5px;
}

.page-text {
    padding-top: 30px;
}


.weather-p {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

#paragraph {
    font-weight: bold;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.footer-container {
    border-top:1px solid #646464;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-top: 14px;
}

@media only screen and (max-width: 810px) {
    .navbar {
        width: 600px;
    }

    #center-div {
        width: 600px;
    }

    #loupe {
        left: 185px;
    }

    .search-input:focus + #loupe {
        left: 152px;
    }
}

@media only screen and (max-width: 630px) {
    .navbar {
        width: 450px;
        gap: 30px;
    }

    #center-div {
        width: 450px;
    }

    #loupe {
        left: 111px;
    }

    .search-input:focus + #loupe {
        left: 78px;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        width: 350px;
        gap: 30px;
    }

    #center-div {
        width: 350px;
    }

    #img1 {
        width: 48px;
        top: 58px;
    }

    #img2 {
        width: 48px;
        top: 58px;
    }

    #loupe {
        left: 59px;
    }

    .search-input:focus + #loupe {
        left: 26px;
    }
}

@media only screen and (max-width: 350px) {
    .navbar {
        width: 300px;
        gap: 30px;
    }

    #center-div {
        width: 300px;
    }

    #center-div::after {
        content: "You're testing my patience with a screen this small";
        position: relative;
        top: 10px;
    }

    #img1 {
        display: none;
    }

    #img2 {
        display: none;
    }

    #loupe {
        left: 32px;
    }

    .search-input:focus {
        width: 134px;
    }
    
    .search-input:focus + #loupe {
        left: 32px;
    }
}


